body {
  background-color: gray;
  text-align: center;
}

header {
  font-size: 64px;
  font-family: tangerine;
  color: purple;
  font-family: 'Slabo 27px', serif;
}

#salmon {
  width: 400px;
}

h1 {
  font-family: Verdana;
  color: purple;
}

h2 {
  font-family: Verdana;
  color: purple;
}

h3 {
  font-family: Verdana;
  color: purple;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.data {
  text-align: center;
  font-family: Helvetica;
  color: green;
}

.text {
  font-family: Georgia;
  color:blue;
}

tr {
  height: 150px;
}

td {
  width: 150px;
  color: white;
  background-color: #AA3939;
}

#one {
 background-color: #AA3939;
}

#two {
 background-color: #AA6C39;
}

#three {
 background-color: #226666;
}

#four {
 background-color: #2E882E;
}
