#commentbutton:hover {
 cursor: pointer;
}

.reg:hover{
  background-color: #AA3939;
  color: #2E882E;
}

.reg {
  color: #226666;
  background-color: #AA6C39;
}

table {

 position: absolute;
  top: 27%;
  right: 5%;
  border-collapse: collapse;
  width: 60%;
  padding: 15px;
  background-color: #226666;
  color: #AA6C39;
  box-shadow: 0px 0px 5px 5px #AA3939;
}

th {
  font-size: 18px;
  font-style: bold;
  color: #AA6C39;
  height: 50px;
}

tr {
  font-size: 12px;
  color: #AA6C39;
}

td {
  text-align: center;
  font-size: 16px;
  height: 20px;
  width: 20px;
  color: #AA6C39;
}

form {
text-align: center;
background-color: #226666;
width:220px;
height:320px;
font-family: Tahoma, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 40px;
font-weight: bold;
color: #AA6C39;
text-decoration: none;
border-radius: 40px;
padding: 20px;
}

li span {
 margin-left: -40px;
}

p span {
 margin-left: -30px;
 font-size:12px;
}

.location {
  color: #AA6C39;
  text-align: center;
  font-size: 14px;
}

h5 {
  color: #AA6C39;
  text-align: center;
}

#foursalmon {
  height: 100px;
}

.rotate:hover
{
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

#shirt {
  height: 200px;
  clear: top;
  float: right;
}

#familyone {

  height: 200px;
  clear: left;
  float: right;
}

.grow:hover
{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#links {
  font-size: 14px;
}

.color:hover
{
  background:#53a7ea;
}

#salmon {
  position: absolute;
  top: 3.5%;
  right: 2.5%;
  width: 250px;
  al

}

.fishy {
  transition: transform 3s ease-in-out;
}

.fishy:hover {
  transform: rotateY(360deg);
}

.circle:hover
{
  border-radius:50%;
}

#sea1 {
  float: left;
  height: 100px;
}

#sea2 {
  float: right;
  height: 100px;
}

a {
  text-decoration: none;
  color: #AA6C39;
}

.fade
{
  opacity:0.85;
}
.fade:hover
{
  opacity:1;
}

body {
 font: 24px Helvetica;
 background: url('images/darkwood.jpg');
}

#main {
 min-height: 500px;
 margin: 10px;
 padding: 10px;
 display: -webkit-flex;
 display:         flex;
 -webkit-flex-flow: row;
         flex-flow: row;
 }

#main > article {
 color: #AA6C39;
 margin: 4px;
 padding: 5px;
 border: 1px solid #AA3939;
 border-radius: 7pt;
 background: #226666;
 -webkit-flex: 3 1 60%;
         flex: 3 1 60%;
 -webkit-order: 2;
         order: 2;
 }

#main > nav {
 font-family: 'Roboto', sans-serif;
 text-align: center;
 margin: 4px;
 padding: 5px;
 border: 1px solid #AA3939;
 border-radius: 7pt;
 background: #226666;
 -webkit-flex: 1 6 20%;
         flex: 1 6 20%;
 -webkit-order: 1;
         order: 1;
 }

#main > aside {
 text-align: center;
 color: #AA6C39;
 font-family: 'Roboto', sans-serif;
 margin: 4px;
 padding: 5px;
 border: 1px solid #AA3939;
 border-radius: 7pt;
 background: #226666;
 -webkit-flex: 1 6 20%;
         flex: 1 6 20%;
 -webkit-order: 3;
         order: 3;
 }

header, footer {
 font-family: 'Roboto', sans-serif;
 font-size: 14px;
 display: block;
 margin: 4px;
 padding: 5px;
 min-height: 100px;
 border: 1px solid #AA3939;
 border-radius: 7pt;
 background: #226666;
 color: #AA6C39;
 }

/* Too narrow to support three columns */
@media all and (max-width: 640px) {

 #main, #page {
  -webkit-flex-flow: column;
          flex-direction: column;
 }

 #main > article, #main > nav, #main > aside {
  /* Return them to document order */
  -webkit-order: 0;
          order: 0;
 }

 #main > nav, #main > aside, header, footer {
  min-height: 50px;
  max-height: 50px;
 }
}
